body{
    margin:0;
    background:#111;
    color:#fff;
    font-family:Arial,sans-serif;
    text-align:center;
    overflow:hidden;
}

h1{
    margin:15px 0;
    color:#00ff66;
}

#game{
    display:flex;
    justify-content:center;
    align-items:center;
}

canvas{
    background:#000;
    border:3px solid #00ff66;
    border-radius:12px;
    touch-action:none;
    max-width:95vw;
    max-height:75vh;
}

.info{
    margin-top:15px;
    font-size:20px;
}

button{
    padding:12px 25px;
    font-size:18px;
    margin:10px;
    border:none;
    border-radius:10px;
    background:#00c853;
    color:white;
}

button:active{
    transform:scale(0.96);
}
